.front-page-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 50px 0;
  width: 100%;

  & > .main {
    background-color: #eee;
    height: 500px;
    position: relative;

    & > .center {
      left: 50%;
      position: absolute;
      top: 50%;
      text-align: center;
      transform: translate(-50%, -50%);

      & > h1 {
        color: #555;
        font-family: "ProximaNovaThin";
        font-size: 42px;
        margin-bottom: 16px;
      }

      & > h2 {
        color: #555;
        font-family: "ProximaNovaThin";
        font-size: 24px;
      }

    }

  }

}
